
.clientsec-1{
    width: 90%;
    margin: auto;

}
.clientsec-1 img{
    width: 100%;
    height: fit-content;
}
h4{
    color: rgb(75, 75, 138);
}

p{
    font-size: 18px;
}
span{
    font-weight: 800;
}
.para-div{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.vision_heading{
    width: 90%;
    margin:40px auto 10px auto;
    
}

@media(max-width:600px){
    .vision_heading{
        text-align: left;
    }
}