body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.image {
  height: 40vh;
  margin: 20px 0 20px 0;
}

.image img {
  height: 100%;
  border: 2px solid gainsboro;
}
.sec1 {
  width: 80%;
  margin: auto;
  text-align: left;
}

.textblue {
  color: #138dd4;
}
.smalltext {
  line-height: 1em;
}

.sec3 {
  margin: 40px 0;
}

.dir1 {
  display: flex;
  height: 40%;
  width: 80%;
  border: 1px solid rgb(168, 161, 161);
  margin: auto;
  padding: 30px 20px;
}

.img {
  width: 20%;
}

.img img {
  width: 100%;
}

.textleft {
  width: 80%;
  text-align: left;
  margin: 3rem auto 1rem auto;
}

.imgside {
  margin-left: 10%;
  width: 40%;
}

p span {
  font-weight: 500;
}

.littlebold {
  font-weight: 500;
  font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
  .dir1 {
    width: 95%;
    flex-direction: column;
    padding: 15px 10px;
  }
  .img {
    width: 30%;
  }
  .textleft {
    width: 95%;
  }
  .imgside {
    margin-left: 0px;
    width: 100%;
    margin-top: 20px;
  }
  .sec1 {
    width: 95%;
  }
}
