.logoimg{
    width: 80px;
}
.navfont{
    font-size: 22px;
    font-weight: 500;

}
.marauto{
    margin: auto;
}
.am{
    margin:auto 8px;
    cursor: pointer !important;
}
.drop{
    font-weight: 500;
}